.headBoxPosts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
    align-content: center;


}
.headBoxPost{
    width: 350px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;

}
h1{
    margin-top: 0;
}
h2{
    align-content: center;
    margin-left: 10px;
    font-size: 16px;

}